**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
.terraformrc
terraform.rc
*.tfplan
.tofu/
*.tofu.lock.hcl
.env
.env.local
*.terraform.lock.hcl
